@*<a id="modal-7033" href="#modal-container-7033" role="button" class="btn" data-toggle="modal">Launch demo modal</a>*@

@using(Html.BeginForm("changing","settings",FormMethod.Post,new{id="cpass"}))
{
    <div class="modal fade" id="modal-container-7033" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Change password
                </h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>                            
                                <b>Old password</b>                           
                        </td>
                        <td>
                            <input type="password" value="" id="old" name="old" />
                        </td>
                        <td>
                            <p id="oldp" style="color:red;"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>New Password</b>
                        </td>
                        <td>
                            <input type="password" value="" id="newpass" name="newpass"/>
                        </td>
                        <td>
                            <p id="newp" style="color:red;"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Confirm Pasword</b>
                        </td>
                        <td>
                            <input type="password" value="" id="confirmpass" name="confirmpass"/>
                        </td>
                        <td>
                            <p id="confirm" style="color:red;"></p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                <button type="button" class="btn btn-primary" onclick="return valid();">Change password</button>
            </div>
        </div>
    </div>
</div>

}
<script>
    function valid()
    {
        document.getElementById('oldp').innerHTML = "";
        document.getElementById('confirm').innerHTML = "";
        document.getElementById("newp").innerHTML = "";

        if(document.getElementById('old').value == '')
        {
            document.getElementById('oldp').innerHTML = "Old password required";
        }
        else if (document.getElementById('newpass').value != '')
        {
            if(document.getElementById('newpass').value == document.getElementById('confirmpass').value)
            {
                document.getElementById('cpass').submit();
            }
            else
            {
                document.getElementById('confirm').innerHTML = "password dont match";
            }
        }
        else
        {
            document.getElementById("newp").innerHTML = "password cant be blank."
        }
    }
</script>
   
