@using (Html.BeginForm("newPassword", "settings", FormMethod.Post, new { id = "cpass1" }))
{
    <div class="modal fade" id="modal-container-7035" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel11">
                        Change password
                    </h4>
                </div>
                <div class="modal-body">
                    <table>                        
                        <tr>
                            <td>
                                <b>New Password</b>
                            </td>
                            <td>
                                <input type="password" value="" id="newpass1" name="newpass" />
                            </td>
                            <td>
                                <p id="newp1" style="color:red;"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Confirm Pasword</b>
                            </td>
                            <td>
                                <input type="password" value="" id="confirmpass1" name="confirmpass" />
                            </td>
                            <td>
                                <p id="confirm1" style="color:red;"></p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="return valid();">Change password</button>
                </div>
            </div>
        </div>
    </div>
    
    <input style="visibility:collapse;" value="" id="userna" name="userna"/>
}

<script>
    function valid() {        
        document.getElementById('confirm1').innerHTML = "";
        document.getElementById("newp1").innerHTML = "";

       if (document.getElementById('newpass1').value != '') {
            if (document.getElementById('newpass1').value == document.getElementById('confirmpass1').value) {
                document.getElementById('cpass1').submit();
            }
            else {
                document.getElementById('confirm1').innerHTML = "password dont match";
            }
        }
        else {
            document.getElementById("newp1").innerHTML = "password cant be blank."
        }
    }
</script>