<div class="list-group" style="margin-left:-15px; margin-top:50px; width:300px;">
    <a href="/Settings/" class="list-group-item active">
        &nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp; User Admin
    </a>
    <a href="/Settings/target?option=target" class="list-group-item">
        &nbsp;<span class="glyphicon glyphicon-signal"></span>&nbsp; Set Targets
    </a>
    <a href="/Settings/Notify?option=notify" class="list-group-item">
        &nbsp;<span class="glyphicon glyphicon-bell"></span>&nbsp;Email Settings
    </a>
</div>