@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/DashBoard/Views/Shared/_LayoutPage.cshtml";
}


<div class="offset">
    <h2 class="pageTitle">Direct Channels</h2>
    <h4 style="margin-left:20px;">Direct channel summary for the week</h4>
    <hr />
    <table>
        <tr>
            <td>
                @Html.Partial("_InternationalgrpPartial")
            </td>
            <td>
                @Html.Partial("_LocalPartial")
            </td>
        </tr>
    </table>
    <div style="margin-top:30px;">
        <h4 style="margin-left:20px;">Direct channel targets for the @*@Model.dashFilter*@</h4>
        <hr />
        <canvas id="canvas" height="250" width="600"></canvas>
    </div>
    @Html.Partial("_graph")
</div>