<div style="background-color:white; border: 1px solid #e4e4e4; border-radius: 5px; width:280px; height:100px;">
    <table style="margin-left:15px;">
        <tr>
            <td>
                <div style="width:80px;  height: 99px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; ">
                    <img src="../../Images/Building-128.png" alt="DMC" style="width: 64px; height: 64px; display: block; margin-left: auto; margin-right: auto; margin-top:15px;" />
                </div>
            </td>
            <td>
                <div>
                    <blockquote style="height:100px;">
                        <p>
                            @Model._hotel
                        </p> <small>Hotel for the @*@Model.dashFilter*@</small>
                    </blockquote>
                </div>
            </td>
        </tr>
    </table>
</div>