@{
    ViewBag.Title = "ForEdit";
}

<table>
    <tr>
        <td id="custom">
            @ViewBag.customer
        </td>
        <td id="cname">
            @ViewBag.name
        </td>
        <td >
            <input id="tag" type="text" value="@ViewBag.tag"/>
        </td>
    </tr>
</table>
