<div class="list-group" style="margin-left:-15px; margin-top:50px; width:300px;">
    <a href="?mode=Week" class="list-group-item @Model.week">
        &nbsp;<span class="glyphicon glyphicon-calendar"></span>&nbsp; Current Week
    </a>
    <a href="?mode=Month" class="list-group-item @Model.month">
        &nbsp;<span class="glyphicon glyphicon-calendar"></span>&nbsp; Current Month
    </a>
    <a href="?mode=year" class="list-group-item @Model.year">
        &nbsp;<span class="glyphicon glyphicon-calendar"></span>&nbsp;Year
    </a>   
</div>